:root{
    --primary: #EA40A4;
    --public: #3A82EE;
    --personal: var(--primary);
    --light: #dedede;
    --grey: #888;
    --dark: #313154;
    --danger: #ff3333;

    --shadow: 0 1px 3px rgba(0,0,0,0.1);

    --public-glow: 0px 0px 4px rgba(58, 130 ,238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    text-decoration: none;
}

input:not([type="radio"]):not([type="checkbox"]), button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    background: var(--light);
    color: var(--dark);
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h4{
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greetings .title{
    display: flex;
}

.greeting .title input{
    margin-left: 0.5rem;
    flex: 1px 1px 0%;
    min-width: 0;
}

.greetings .title,
.greetings .title input{
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-ToDo input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-ToDo .options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-ToDo .options label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"]{
    display: none;
}

.bubble.Public{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--public);
    box-shadow: var(--public-glow);
}

.bubble.Personal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble.Public::after{
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--public);
    box-shadow: var(--public-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.Personal::after{
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

input:checked ~ .bubble::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-ToDo .options label div{
    color: var(--dark);
    font-size: 1.2rem;
    margin-top: 0.4rem;
}

.create-ToDo input[type="submit"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--public);
    border-radius: 0.5rem;
    box-shadow: var(--public-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.popup_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    user-select: none;
    width: 400px;
    background-color: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 2.5rem;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.popup_box i{
    font-size: 5rem;
    color: rgb(10, 148, 5);
    border: 5px solid rgb(10, 148, 5);
    padding: 1rem 2rem;
    border-radius: 50%;
    margin: -10px 0px 20px 0px;
}

.popup_box h1{
    font-size: 1.875rem;
    color: #1b2631;
    margin-bottom: 5px;
}

/* .popup_box label{
    font-size: 23px;
    color: #404040;
} */

.popup_box .btns{
    margin: 40px 0px 0px 0px;
}

/* .btns .btn2 should will be added later*/
.btns .btn1{
    background: var(--public);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #056af8;
    border-radius: 7px;
}

/* .btns .btn2{
    background-color: var(--danger);
    margin-left: 20px;
    border: 1px solid #cc0000;
} */

.btn1:hover{
    transition: 0.5s;
    background-color: #0059b3;
}

/* .btn2:hover{
    transition: 0.5s;
    background-color: #e60000;
} */

.click{
    font-weight: bold;
    border: 1px solid #0059b3;
}

.create-ToDo input[type="submit"]:hover{
    opacity: 0.75;
}

.ToDo-List .list{
    margin: 1rem 0;
}

.ToDo-List .todo-item{
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content{
    flex: 1 1 0%;
}

.todo-item .todo-content input{
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions{
    display: flex;
    align-items: center;
}

.todo-item .actions button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover{
    opacity: 0.75;
}

.todo-item .actions .Edit{
    margin-right: 0.5rem;
    background-color: var(--public);
}

.todo-item .actions .Delete{
    margin-right: 0.5rem;
    background-color: var(--danger);
}

.todo-item.done .todo-content input{
    text-decoration: line-through;
    color: var(--grey);
}